registry=https://packages.aliyun.com/5f3b947bdf9df74e36afde2d/npm/npm-registry/
//npm.petkit.com/:_password=cGV0a2l0MTIz
//npm.petkit.com/:username=ci
//npm.petkit.com/:email=feng.wei@petkit.com
//npm.petkit.com/:always-auth=false
packages.aliyun.com/5f3b947bdf9df74e36afde2d/npm/npm-registry/:_authToken=da145f79-6875-432e-8d7c-6393db07e0de
//always-auth=true
